tasks-tracker.online {
    reverse_proxy react-vite-app:5173
}

tasks-tracker.online/api/* {
    reverse_proxy fastapi-backend:9000
}

tasks-tracker.online/portainer/* {
    reverse_proxy https://portainer:9443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
    rewrite /portainer/* /{path}
}